<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level --- [%15thread] %logger :%n-->%msg%n%n"/>

    <contextName>fu-community</contextName>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <!--展示格式 layout-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
    <logger name="org.springframework" level="info"/>
    <logger name="org.mybatis" level="info"/>

    <root lever="info">
        <appender-ref ref="console"/>
    </root>
</Configuration>